{% extends 'base.html.twig' %}

{% block title %}Welcome :){% endblock %}

{% block body %}
    <div class="reveal">
        <div class="slides">
            <section>
            <ul>
                {% for screen in screens %}
                    <li>
                        <a href="{{ path('reveal_screen', {'screenId': screen.id}) }}">{{ screen.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            </section>
        </div>
    </div>
    <div class="clock"></div>
{% endblock %}
