{% extends 'base.html.twig' %}

{% block title %}{{ screen.name }}{% endblock %}

{% block body %}
    <div class="reveal">
        <div class="slides">
            {% for hasDeck in screen.screenHasDecks %}
                {% for hasSlide in hasDeck.deck.deckHasSlides %}
                    {% set slide = hasSlide.slide %}
                    <section data-autoslide="{{ hasSlide.duration * 1000 }}">
                        {{ slide.name }}

                    </section>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
