$colorDarkOrange: #FF4500;
$colorOrange: #FF8C00;

@mixin slide($className, $fontFamily: 'Arcade Interlaced', $fontSize: inherit, $colorTop: white, $colorMiddle: white, $colorBottom: white) {
    .reveal {
        font-family: $fontFamily !important;
        font-size: $fontSize !important;

        .slide-#{$className} h1,
        .slide-#{$className} h2,
        .slide-#{$className} h3 {
            font-family: $fontFamily;
            color: $colorTop;
        }
        .slide-#{$className} thead tr {
           color: $colorMiddle;
        }
        .slide-#{$className} tbody tr {
            color: $colorBottom;
        }
        .slide-#{$className}.glow h1,
        .slide-#{$className}.glow h2,
        .slide-#{$className}.glow h3 {
            // animation: crt-glow 16ms infinite;
            text-shadow: 0 0 0.8rem lighten($colorTop, 10%);
        }
        .slide-#{$className}.glow .scoreboard thead tr {
            // animation: crt-glow 16ms infinite;
            text-shadow: 0 0 0.4rem lighten($colorMiddle, 10%);
        }
        .slide-#{$className}.glow .scoreboard tbody tr {
            // animation: crt-glow 16ms infinite;
            text-shadow: 0 0 0.4rem lighten($colorBottom, 10%);
        }
    }
}

@keyframes crt-glow {
    0% { opacity: 1; }
    60% { opacity: 0.95; }
}

.reveal table {
    margin-bottom: 50px;
}
.reveal table th,
.reveal table td {
    border-bottom: 2px solid;
}
.reveal table td.score {
    text-align: right;
    word-spacing: -0.3em;
}

// Appel de la mixin Scoreboard et glow
@include slide(Invader, 'Arcade Interlaced', inherit, limegreen, orange, white);
@include slide(ArcadeKarmatic, 'Karmatic Arcade', 48px, yellow, red, white);
@include slide(DotMatrix, 'Dot Matrix', 54px, $colorDarkOrange, $colorOrange, $colorOrange);

.clock {
    position: absolute;
    bottom: 0.1em;
    left: 0.3em;
    color: #17D4FE;
    font-family: 'LCDMono2';
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.1em;
    font-size: 2em;
    animation: crt-output 10ms infinite;
    text-shadow: 0 0 1rem lighten(#17D4FE,20%);
}

.scrollable {
    overflow: hidden;
}

